# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
*.log
staticfiles/
media/

# Environments
.env
.env.*
*.env
.venv/
venv/
ENV/
env/

# IDE / OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

