services:
  - type: web
    name: klinika
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
      python manage.py migrate
    startCommand: gunicorn klinika_project.wsgi:application
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: klinika_project.settings
      - key: PYTHON_VERSION
        value: 3.12.3
      - key: DJANGO_SECRET_KEY
        sync: false
      - key: DEBUG
        sync: false
      - key: ALLOWED_HOSTS
        sync: false
      - key: DATABASE_URL
        sync: false
